anyio==4.8.0
appdirs==1.4.4
arandr==0.1.11
argcomplete==3.5.3
Beaker==1.12.1
beautifulsoup4==4.12.3
blivet==3.10.0
blivet-gui==2.6.0
boto3==1.37.3
botocore==1.37.3
Brlapi==0.8.5
build==1.2.2.post1
CacheControl==0.14.2
certifi==2024.8.30
cffi==1.16.0
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
crashtest==0.4.1
cryptography==41.0.7
cssselect==1.1.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.3.2
distlib==0.3.9
distro==1.9.0
dnf==4.22.0
dulwich==0.22.7
fastjsonschema==2.21.1
fb-re2==1.0.7
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.16.1
findpython==0.6.2
fros==1.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
humanize==3.13.1
idna==3.7
inkex==1.4.0
installer==0.7.0
iso639==0.1.4
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.8.0
Jinja2==3.1.4
jmespath==1.0.1
keyring==25.6.0
langtable==0.0.68
libcomps==0.1.20
libdnf==0.73.4
louis==3.28.0
lxml==5.1.0
Mako==1.2.3
MarkupSafe==2.1.3
mercurial==6.7.4
more-itertools==10.6.0
msgpack==1.1.0
nftables==0.1
numpy==1.26.4
olefile==0.47
packaging==24.2
Paste==3.7.1
pbs-installer==2025.2.12
pexpect==4.9.0
pid==2.2.3
pillow==10.3.0
pipenv==2024.1.0
pkginfo==1.12.1.2
platformdirs==4.3.6
ply==3.11
poetry==2.1.1
poetry-core==2.1.1
productmd==1.43
ptyprocess==0.7.0
pwquality==1.4.5
pycairo==1.25.1
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.4
pyenchant==3.2.2
PyGObject==3.48.2
pykickstart==3.52
pyOpenSSL==23.2.0
pyparsing==3.1.2
pyparted==3.13.0
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
pyserial==3.5
PySocks==1.7.1
python-augeas==1.1.0
python-dateutil==2.8.2
python-meh==0.51
python-pam==2.0.2
pyudev==0.24.1
pyxdg==0.27
PyYAML==6.0.1
RapidFuzz==3.12.1
regex==2024.9.11
requests==2.31.0
requests-file==2.0.0
requests-ftp==0.3.1
requests-toolbelt==1.0.0
rpm==4.19.1.1
s3transfer==0.11.3
scour==0.38.2
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.7/src
sepolicy @ file:///builddir/build/BUILD/selinux-3.7/python/sepolicy
setools==4.5.1
setuptools==69.0.3
shellingham==1.5.4
simpleaudio==1.0.4
simpleline==1.9.0
six==1.16.0
sniffio==1.3.1
sos==4.7.2
soupsieve==2.5
systemd-python==235
Tempita==0.5.2
tinycss2==1.2.1
toml==0.10.2
tomlkit==0.13.2
trove-classifiers==2025.2.18.16
typing_extensions==4.12.2
urllib3==1.26.20
virtualenv==20.26.6
webencodings==0.5.1
xkbregistry==0.3
zstandard==0.23.0
